In [1]:
from xml2csv import xml2csv

In [2]:
xml2csv('annotations.xml')

    frameno    left     top   right  bottom
0        67  786.34  235.97  802.41  255.05
1        68  786.64  236.82  802.71  255.91
2        69  786.94  237.67  803.01  256.76
3        70  787.24  238.53  803.32  257.62
4        71  787.54  239.38  803.62  258.47
..      ...     ...     ...     ...     ...
72      139  813.09  331.98  829.17  351.07
73      140  813.45  334.19  829.53  353.28
74      141  813.81  336.40  829.88  355.49
75      142  814.17  338.62  830.24  357.71
76      143  814.53  340.83  830.60  359.92

[77 rows x 5 columns]

In [3]:
from displaycsv import displaycsv

In [4]:
displaycsv('/home/sawan/Downloads/MLProj2/track.csv','/home/sawan/Downloads/MLProj2/frames/')